---
import WhatIDo from "../components/WhatIDo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Rishi Bharadwaj Sai">
  <div class="max-w-screen-xl flex flex-wrap mx-auto mt-10 rounded">
    <h1 class="text-white text-2xl ps-4 my-4 font-extrabold about-title">
      About Me
    </h1>
    <div class="ps-4 relative my-10 flex flex-wrap">
      <div class="h-4 w-4 circle top-[-15px] left-[9px]"></div>
      <div class="text-white border-l-2 border-white p-2">
        <p class="leading-relaxed text-justify font-normal slide-in -z-10">
          I am a dedicated Electronics and Computer Engineering student at
          Vellore Institute of Technology, India, currently maintaining a CGPA
          of 9.32/10.00. I possess strong proficiency in programming languages
          such as Java, C/C++, and Python, alongside expertise in web
          development using HTML, CSS, JavaScript, and frameworks like Bootstrap
          and Node.js. My technical skills extend to hardware description
          languages, including Verilog, as well as tools such as Git and Visual
          Studio Code. My project experience encompasses a diverse range, from
          developing responsive websites to designing innovative smart dental
          hygiene devices, reflecting my passion for technological advancement.
        </p>
        <br />
        <p class="leading-relaxed text-justify font-normal slide-in -z-10">
          As a member of the IEEE Computer Society and a Technical Team Member
          at Iothinc, VITC, I actively contribute to various technical
          initiatives and stay informed about industry trends. My academic
          curriculum, enriched by coursework in Data Structures, Algorithms, and
          Computer Architecture, is complemented by certifications in Python,
          C++, and Web Development. Outside of academics, I am engaged in
          extracurricular activities, volunteering, and participating in coding
          competitions like BITWARS. I look forward to connecting and exploring
          the dynamic world of technology together!
        </p>
      </div>
      <div class="h-4 w-4 circle bottom-[-15px] left-[9px]"></div>
    </div>
  </div>

  <WhatIDo />
</Layout>

<style>
  .about-title {
    position: relative;
  }

  .about-title::before {
    position: absolute;
    content: " ";
    top: 35px;
    background-color: white;
    width: 45%;
    height: 4px;
  }

  .circle {
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
  }

  .slide-in {
    transform: translateX(-50%);
    opacity: 0;
    animation: slideIn 1s forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
