---
import WhatIDo from "../components/WhatIDo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Rishi Bharadwaj Sai">
  <div class="max-w-screen-xl flex flex-wrap mx-auto mt-10 rounded">
    <h1 class="text-white text-2xl ps-4 my-4 font-extrabold about-title">
      About Me
    </h1>
    <div class="ps-4 relative my-10 flex flex-wrap">
      <div class="h-4 w-4 circle top-[-15px] left-[9px]"></div>
      <div class="text-white border-l-2 p-2">
        <p class="leading-relaxed text-sm font-light slide-in -z-10">
          A dedicated Electronics and Computer Engineering student at Vellore
          Institute of Technology, India, with a stellar CGPA of 9.32/10.00.
          Proficient in Java, C/C++, Python, and web development using HTML/CSS,
          JavaScript, and frameworks like Bootstrap and NodeJs, I also excel in
          hardware description languages like Verilog and tools such as Git and
          Visual Studio Code. My projects range from developing responsive
          websites to designing smart dental hygiene devices, showcasing my
          passion for innovation.
        </p>
        <br />
        <p class="leading-relaxed text-sm font-light slide-in -z-10">
          As a member at IEEE Computer Society and Technical Team Member at
          Iothinc, VITC, I actively contribute to technical initiatives and stay
          updated on industry trends. My academic journey, enriched with courses
          in Data Structures, Algorithms, and Computer Architecture, is
          complemented by certifications in Python, C++, and Web Development.
          Beyond academics, I engage in extracurricular activities,
          volunteering, and coding competitions like BITWARS. Let's connect and
          explore the exciting world of technology together!
        </p>
      </div>
      <div class="h-4 w-4 circle bottom-[-15px] left-[9px]"></div>
    </div>
  </div>

  <WhatIDo />
</Layout>

<style>
  .about-title {
    position: relative;
  }

  .about-title::before {
    position: absolute;
    content: " ";
    top: 35px;
    background-color: white;
    width: 45%;
    height: 4px;
  }

  .circle {
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
  }

  .slide-in {
    transform: translateX(-50%);
    opacity: 0;
    animation: slideIn 1s forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
