---
import MainSocialMedia from "../components/MainSocialMedia.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rishi Bharadwaj Sai">
  <main>
    <center class="mt-40">
      <div class="hero-img w-44 h-44"></div>
      <div
        class="home-content mt-8 w-52 sm:w-60 md:w-72 lg:w-96 text-wrap slide-in"
      >
        <h1 class="text-white font-extrabold text-2xl text-center">
          I'm <span>Rishi Bharadwaj Sai</span>
        </h1>
        <p class="text-gray-300 text-center font-light mt-2 text-sm">
          Excited to unveil my portfolio. Browse through to see highlights of my
          creative journey and innovative projects. Discover how I turn concepts
          into impactful results.
        </p>

        <button
          type="button"
          class="my-2 text-white know-btn font-light rounded-lg text-sm px-3 py-0 text-center inline-flex items-center"
        >
          <a href="/About">Know about me</a>

          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </button>

        <MainSocialMedia />
      </div>
    </center>
  </main>

  <style>
    .hero-img {
      position: relative;
      border: 3px solid white;
      border-radius: 50%;
      background-image: url(/images/rishi-image.jpg);
      background-position: center;
      background-size: cover;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.527);
      animation: upDown 2s infinite;
    }

    .hero-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 255, 255, 0.541);
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.299);
      pointer-events: none;
    }

    @keyframes upDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-25px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .slide-in {
      transform: translateX(-100%);
      opacity: 0;
      animation: slideIn 1s forwards;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .know-btn {
      background: rgba(255, 255, 255, 0.379);
      border-radius: 16px;
      box-shadow: 4px 4px 30px rgba(151, 151, 151, 0.468);
      border: 1px solid rgba(255, 255, 255, 0.68);
      transition: transform 0.3s ease-in-out;
    }

    .know-btn:hover {
      transform: scale(1.1);
    }
  </style>
</Layout>
