---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects - Rishi Bharadwaj Sai">
  <div
    class="max-w-screen-xl flex flex-wrap mx-auto mt-10 rounded justify-center lg:justify-start"
  >
    <ProjectCard
      title="BITWARS 2024"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
      image="/images/Bitwars-image.png"
    />
    <ProjectCard
      title="Flappy Bird - OpenCV"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
      image="https://automaticaddison.com/wp-content/uploads/2020/05/flappy-bird-in-3d.png"
    />
    <ProjectCard
      title="Health Care Center"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
      image="/images/Health-care-image.png"
    />
    <ProjectCard
      title="Social Media App"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
      image="/images/Social-media-image.png"
    />
    <ProjectCard
      title="OCR - Handwritten text Recognition"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
      image="https://research.aimultiple.com/wp-content/uploads/2020/04/handwritingrecognition1.png"
    />
  </div>
</Layout>
