---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects - Rishi Bharadwaj Sai">
  <div
    class="max-w-screen-xl flex flex-wrap mx-auto mt-10 rounded p-3 justify-center lg:justify-start"
  >
    <ProjectCard
      title="BITWARS 2024"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
    />
    <ProjectCard
      title="Flappy Bird - OpenCV"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
    />
    <ProjectCard
      title="Health Care Center"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
    />
    <ProjectCard
      title="Social Media App"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
    />
    <ProjectCard
      title="OCR - Handwritten text Recognition"
      description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
      link=""
      github=""
    />
  </div>
</Layout>
