---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume - Rishi Bharadwaj Sai">
  <center>
    <h1 class="text-2xl text-white mt-10">Updating soon.......</h1>
  </center>
</Layout>
