---
interface Props {
  title: string;
  body: string;
  src: string;
}

const { src, title, body } = Astro.props;
---

<div
  class="card w-auto h-auto md:w-[400px] md:h-60 my-10 py-10 me-10 flex flex-col justify-center text-center place-items-center md:place-items-start align-middle md:flex-row md:justify-normal md:text-start text-white"
>
  <div class="img-container flex justify-center px-2 mb-3">
    <img src={src} alt="" />
  </div>
  <div class="px-2">
    <h1 class="mb-2 text-xl font-bold">
      {title}
    </h1>
    <p class="text-center md:text-start font-light">
      {body}
    </p>
  </div>
</div>

<style>
  .img-container {
    width: 40%;
    height: 100%;
  }
  img {
    width: 50px;
    height: 50px;
  }

  .card {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 4px 4px 30px rgb(36, 36, 36);
    border: 1px solid rgba(255, 255, 255, 0.368);
  }
</style>
