<footer
  class="bg-gray-900 rounded-lg shadow m-4 dark:bg-gray-800 w-full mx-auto max-w-screen-xl"
>
  <div
    class="p-4 flex flex-col md:flex md:flex-row justify-center md:items-center md:justify-between"
  >
    <span
      class="text-sm text-gray-200 sm:text-center flex justify-center dark:text-gray-400"
      >© 2024 All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-gray-200 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="/" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="/About" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1vFu8wWHGHcrCkV9TBtXNn2dhA5igrAu6/view"
          class="hover:underline me-4 md:me-6">Resume</a
        >
      </li>
      <li>
        <a href="/Projects" class="hover:underline me-4 md:me-6">Projects</a>
      </li>
      <li>
        <a href="https://linktr.ee/rishibharadwajsai" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
