---
interface Props {
    title: string;
    description: string;
    link: string;
    github: string;
}

const {title, description, link, github} = Astro.props;
---


<div
      class="max-w-sm  border border-gray-200 rounded-lg shadow m-3"
    >
      <a href="#">
        <img class="rounded-t-lg" src="/images/galaxy-night-image.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
          >
            {title}
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-200 dark:text-gray-400">
          {description}
        </p>
        <a
          href= {link}
          class="inline-flex items-center px-3 py-2 text-sm text-center text-black bg-white rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold"
        >
          Visit
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>