---
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="google-site-verification"
      content="sCsdhNdhfDLfKTvCn4fBCjg-JJdFWGSUwgFToUnsEV0"
    />
    <meta
      name="description"
      content="I am an Electronics and Computer Engineering student at Vellore Institute of Technology, India, with a CGPA of 9.32/10.00. Skilled in Java, C/C++, Python, and web development (HTML/CSS, JavaScript, Bootstrap, NodeJs), I also work with Verilog and Git. My projects range from responsive websites to smart dental hygiene devices. As a member of IEEE Computer Society and Technical Team Member at Iothinc, VITC, I stay updated on industry trends and engage in coding competitions like BITWARS. Let's connect and explore technology together!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="sCsdhNdhfDLfKTvCn4fBCjg-JJdFWGSUwgFToUnsEV0"
    />
    <link rel="icon" type="image" href="/images/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Lella Rishi Bharadwaj Sai",
        "url": "https://rishibharadwajsai.vercel.app/",
        "description": "Electronics and Computer Engineering student specializing in various technologies and active in technical communities."
      }
    </script></head
  >

  <body>
    <Navbar />
    <div class="content">
      <slot />
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

  html::-webkit-scrollbar {
    width: 10px;
  }

  html::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  html::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.244);
    border-radius: 16px;
    box-shadow: 4px 4px 30px rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.368);
  }

  body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-family: "Poppins", "Ubuntu", sans-serif;
    background-color: #ffffff;
  }

  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
</style>
